.btns {
    display: flex;
    gap:1rem;

}

button {
    border: transparent;
    padding:0.5rem;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.text {
    color: blueviolet;
}