.timer {
display: flex;
justify-content: center;
align-items: center;
height:50vh;
font-size: 2rem;
color: blueviolet;
font-weight: bold;
}

.container h2 {
  display: flex;
  text-align: center;
  justify-content: center;
}
